<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>AIB 15th Section 3 Project</title>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <style> 
        a img{border:o;} 

        a{text-decoration: none;
          color:black;}
        </style>
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" alt="Home">
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t39.30808-6/279453835_7629105107114656_8677220946437677580_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=_hwBABXCS6oAX-EPfit&_nc_ht=scontent-gmp1-1.xx&oh=00_AfAsYcOd6Mk4Fjyc-W2dtqTxVZftDqqAIWFZceYFJV9HyA&oe=63648B18" 
                 alt="" width="30" height="30" class="d-inline-block align-text-top">
                S3PJ
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about" alt="Information">Information</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/predict">Predict</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/reference">Reference</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- Home Image -->
          <div class="py-5">
          <div class="text-center">
            <a href="https://www.billboard.com/photos/best-album-covers-of-all-time-6715351/" target="_blank" alt="The 50 Greatest Album Covers of All Time">
              <img src="https://w.namu.la/s/d724e9e53259eb96e3ffa4dc301d4f8129bc888d96a412278b893c98529273ee9e2839fb389c717d4d9627d5db26a4d0835de0f55942dd74174fef634c86ccfd4a1bf6b1d031572474d218dd6c4978f70816a4356694e40895268633e12ca28d" 
               alt="..." width="780" height="780">
            </a>
          </div>
          </div>
    </body>

</html>